[package]
name = "prelude"
version = "0.1.0"
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
keywords.workspace = true

[dependencies]
bon = "3.8"
regex = "1"
proto-types = { workspace = true }
paste = "1"
bytes = "1"
