{%- import "opt.proto.j2" as opts %}

enum {{+ name +}} {
{% filter indent(2) %}
{%+ call opts::get_options(options) +%}
{% endfilter %}

{% filter indent(2) %}
{% for (tag, name) in variants +%}
{{+ name +}} = {{+ tag +}};
{% endfor %}
{% endfilter ~%}
}
