{% for import in imports %}
{% if import.to_string() != name.to_string() %}
import "{{ import }}";
{% endif %}
{% endfor %}


{%- for enum_ in enums %}
  {{ enum_ }}
{%- endfor -%}

{%- for msg in messages %}
  {{ msg }}
{%- endfor -%}
