{% import "opt.proto.j2" as opts %}

{%- macro render_field(tag, field, file, package) -%}
{{+ field.kind +}}{{+ field.field_type.render_name(file, package) +}} {{+ field.name +}} = {{+ tag }}
{%~ endmacro %}

message {{+ name +}} {
{% if !reserved_names.is_empty() ~%}
  {{+ "reserved" +}} {%+ for name in reserved_names %}"{{ name }}"{% if !loop.last +%}, {%+ endif %}{% endfor %};
{% endif %}
{% if !reserved_numbers.is_empty() ~%}
  {{+ "reserved" +}} {%+ for number in reserved_numbers %}{{ number }}{% if !loop.last +%}, {%+ endif %}{% endfor %};
{% endif %}
{% if !reserved_ranges.is_empty() ~%}
  {{+ "reserved" +}} {%+ for range in reserved_ranges %}{{ range.start +}} to {{+ range.end }}{% if !loop.last %}, {%+ endif %}{% endfor %};
{% endif ~%}
{%~ filter indent(2) %}
{%+ call opts::get_options(options) %}
{% endfilter %}

{% for enum_ in enums %}
{%+ filter indent(2) ~%}
{{+ enum_.render()? +}}
{%+ endfilter %}
{% endfor %}

{% for nested_msg in messages %}
{%+ filter indent(2) ~%}
{{+ nested_msg.render()? +}}
{%+ endfilter %}
{%- endfor ~%}

{% for oneof in oneofs ~%}
{%+ filter indent(2) ~%}
oneof {{+ oneof.name +}} {
  {% filter indent(2) %}
    {% call opts::get_options(oneof.options) %}
  {%~ endfilter %}

  {%+ for (tag, field) in oneof.fields ~%}
  {%+ call render_field(tag, field, file.as_ref(), package.as_ref()) %}
  {%- if !field.options.is_empty() +%} [
  {% call opts::field_opts(&field.options) +%}
  ] {%- endif -%};
  {%~ endfor %}
}
{%+ endfilter %}
{%- endfor ~%}

{% for (tag, field) in fields ~%}
{%+ filter indent(2) ~%}
{%+ call render_field(tag, field, file.as_ref(), package.as_ref()) %}
{% endfilter %}
  {%- if !field.options.is_empty() +%} [
  {% call opts::field_opts(&field.options) +%}
  ] {%- endif -%};
{% endfor ~%}
}
