{% import "opt.proto.j2" as render_field_options %}

{% macro render_options(options) %}
{% for option in options %}
  option {{ option.name }} = {{ option.value }};
{% endfor %}
{% endmacro %}

{% macro render_field(field, package) %}
  {{ field.kind }}{{ field.field_type.render_name(parent_message_name.as_ref().unwrap_or(package)) }} {{ field.name }} = {{ field.tag }}
  {%- if !field.options.is_empty() -%}
     {{ " " }}{% call render_field_options::get_opts(&field.options) %}
  {%- endif -%};
{% endmacro %}

message {{ name }} {
  {%- for enum_ in enums %}
    {{ enum_ }}
  {%- endfor -%}

  {%- for nested_msg in messages -%}
    {{ nested_msg.render()? | indent(2) }}
  {%- endfor -%}

  {%- for oneof in oneofs %}
  oneof {{ oneof.name }} {
    {% call render_options(&oneof.options) %}

    {% for field in oneof.fields %}
      {% call render_field(field, package) %}
    {% endfor %}
  }
  {%- endfor -%}

  {% for field in fields %}
    {% call render_field(field, package) %}
  {%- endfor %}
}
