{% macro field_opts(opts) %}
  {% for opt in opts ~%}
    {{+ opt.name +}} = {{+ opt.value.render()? | indent(4) }}{% if !loop.last %}, {%+ endif ~%}
  {% endfor +%}
{% endmacro %}

{% macro get_options(options) %}
{% for option in options ~%}
option {{+ option.name +}} = {{+ option.value +}};
{%~ endfor %}
{% endmacro %}
