{% macro field_opts(opts) %}
{%- if !opts.is_empty() -%}
[{%- for opt in opts -%}
  {{ opt.name }} = {{ opt.value }}{%- if !loop.last -%}, {% endif -%}
{%- endfor -%}]
{%- endif -%}
{% endmacro %}

{% macro get_options(options) %}
{%- for option in options %}
  option {{ option.name }} = {{ option.value }};
{%- endfor %}
{% endmacro %}


