service {{ name }} {
  {% for opt in options %}
    option {{ opt.name }} = {{ opt.value }};
  {%- endfor -%}

  {%+ for handler in handlers +%}
    rpc {{ handler.name }} ({{ handler.render_request(&package) }}) returns ({{ handler.render_response(&package) }})

    {%- if !handler.options.is_empty() %} { 
    {%- for opt in handler.options %}
      option {{ opt.name }} = {{ opt.value }};
    {% endfor %}}
    {%- endif %};
  {%- endfor %}
}
