{% import "opt.proto.j2" as get_opts %}

message {{ name }} {
  {% for field in fields -%}
    {{ field.ty }} {{ field.name }} = {{ field.tag }} {% call get_opts::get_opts(&field.options) %};
  {%- endfor %}
}
